In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df= pd.read_csv("/content/flight cleaning data.csv")

/tmp/ipython-input-5-625917096.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv("/content/flight cleaning data.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65800 entries, 0 to 65799
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            2500 non-null   float64
 1   acc.date              2500 non-null   object
 2   type                  2500 non-null   object
 3   reg                   2408 non-null   object
 4   operator              2486 non-null   object
 5   fat                   2488 non-null   object
 6   location              2500 non-null   object
 7   dmg                   2500 non-null   object
 8   2022                  65800 non-null  int64
 9   January               65800 non-null  object
 10  Wednesday             65800 non-null  object
 11  Is Weekend            2398 non-null   object
 12  Fatalities Level      0 non-null      float64
 13  Operator Category     65800 non-null  object
 14  Damage Reported       65799 non-null  object
 15  Registration Present  65799 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 8.0+ MB

In [7]:
df.head()

,Unnamed: 0,acc.date,type,reg,operator,fat,location,dmg,2022,January,Wednesday,Is Weekend,Fatalities Level,Operator Category,Damage Reported,Registration Present
0,0.0,03-Jan-22,British Aerospace 4121 Jetstream 41,ZS-NRJ,SA Airlink,0,near Venetia Mine Airport,sub,2022,January,Wednesday,No,NaN,Private,YES,Available
1,1.0,04-Jan-22,British Aerospace 3101 Jetstream 31,HR-AYY,LANHSA - Línea Aérea Nacional de Honduras S.A,0,Roatán-Juan Manuel Gálvez International Airpor...,sub,2022,January,Wednesday,No,NaN,Private,YES,Available
2,2.0,05-Jan-22,Boeing 737-4H6,EP-CAP,Caspian Airlines,0,Isfahan-Shahid Beheshti Airport (IFN),sub,2022,January,Wednesday,No,NaN,Private,YES,Available
3,3.0,08-Jan-22,Tupolev Tu-204-100C,RA-64032,"Cainiao, opb Aviastar-TU",0,Hangzhou Xiaoshan International Airport (HGH),w/o,2022,January,Wednesday,Yes,NaN,Private,YES,Available
4,4.0,12-Jan-22,Beechcraft 200 Super King Air,NaN,private,0,"Machakilha, Toledo District, Grahem Creek area",w/o,2022,January,Wednesday,NaN,NaN,Private,YES,Available

#1. How many crashes occurred on weekends vs weekdays?

In [8]:
weekend_counts = df['Is Weekend'].value_counts()
print(weekend_counts)

Is Weekend
No     1752
Yes     646
Name: count, dtype: int64

#2. What is the average number of fatalities by 'Fatalities Level'?

In [9]:
df['fat']= pd.to_numeric(df['fat'], errors= 'coerce')

In [10]:
avg_fatal_by_level = df.groupby('Fatalities Level')['fat'].mean()
print(avg_fatal_by_level)

Series([], Name: fat, dtype: float64)

#3. Count how many crashes happened in each month (e.g., January, February).

In [11]:
monthly_crashes = df['January'].value_counts()

In [12]:
print(monthly_crashes)

January
January    65800
Name: count, dtype: int64

#4. Which operator category has the highest number of crashes?

In [13]:
operator_category = df['Operator Category'].value_counts()
print(operator_category)

Operator Category
Private    65800
Name: count, dtype: int64

#5. Count how many aircrafts had missing registration numbers.

In [14]:
missing_regs = df[df['Registration Present'] == 'Missing']
print("Missing Registration Number:", len(missing_regs))

Missing Registration Number: 0

#6. How many crashes had damage reported?

In [15]:
damage_reported = df[df['Damage Reported'] == 'Yes'].shape[0]
print("Damage Reported in crashes:", damage_reported)

Damage Reported in crashes: 0

#7. What is the most common day of the week for crashes?

In [16]:
day_counts = df['Wednesday'].value_counts()
print(day_counts)

Wednesday
Wednesday    65800
Name: count, dtype: int64

#8. Show top 5 locations where most crashes occurred.

In [17]:
top_locations =df['location'].value_counts().head(5)
print(top_locations)

location
Chicago-O'Hare International Airport, IL (ORD/KORD)    28
Nashville-John C. Tune Airport, TN (KJWN)              24
Denver International Airport, CO (DEN/KDEN)            16
Houston-William P. Hobby Airport, TX (HOU)             14
Vancouver International Airport, BC (YVR/CYVR)         14
Name: count, dtype: int64